
       <table class="menue">

        <tr>
            <th></th>
            <th><h3 class="menue">Vegetarische Speisen und Reis</h3></th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Gebratenes gemischtes Gemüse</td>
            <td>6,5 €</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Aubergine nach Sichuan-Art</td>
            <td>6,9 €</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Gebratenes Tofu mit gemischtem Gemüse</td>
            <td>6,9 €</td>
        </tr>


        <tr>
            <th></th>
            <th><h3 class="menue">Gerichte mit Huhn und Reis</h3></th>
            <th></th>
        </tr>
        <tr>
            <td>5</td>
            <td>Hühnerfleisch in Gewürzsoße + Gemüse</td>
            <td>6,9 €</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Hühnerbrustfilet mit Curry und Kokosmilch</td>
            <td>6,9 €</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Hühnerbrustfilet mit Paprika und Erdnüssen</td>
            <td>6,9 €</td>
        </tr>

        <tr>
            <th></th>
            <th><h3 class="menue">Gerichte mit Rind und Reis</h3></th>
            <th></th>
        </tr>
        <tr>
            <td>5</td>
            <td>Gebratenes Rindfleisch mit Zwiebeln und Bohnen</td>
            <td>7,9 €</td>
        </tr>

        <tr>
            <th></th>
            <th><h3>Außerdem</h3> </th>
            <th></th>
          </tr>
        
        <tr>
          <td>1</td>
          <td>Gebratene Nudeln</td>
          <td>3,5 €</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Frühlingsrollen (6 St.)</td>
          <td>1,8 €</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Sauer-sharf Suppe</td>
          <td>1,5 €</td>
        </tr>
    </table> 

   <!--ol class="menue" start="10">
 
    <li><div>Gebratene Nudeln</div><div>3,5 €</div></li>
    <li><div>Feühlingsrollen (6 St.)</div><div>1,8 €</div></li>
    <li><div>Sauer-sharf Suppe</div><div>1,5 €</div></li>
  </ol-->
